<body>
<div class="beer-home">
    <img class="beer-home" src="/images/beer.png" alt="Beer Home Picture"> 
</div>
 
<button class="buttons"><a class="buttons" href="/beers.ejs"> Check the Beers!</a></button>
<button class="buttons"><a class="buttons" href="/beers.ejs"> Check a Random Beer!</a></button>

</div> 
</body>